@media (max-width: 1440px) {
    main {
        background-size: cover;
    }
}

@media (max-width: 1024px) {   
    .painel .image {
        justify-self: flex-start;
        margin-left: 20px;
    }
    
    .info {
        margin-left: 10px;
    }

    .info .title {
        font-size: 20px;
    }

    .info .description {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    main {
        background: url(../images/bg-mobile.svg)no-repeat;
        background-size: contain;
    }

    .logo {
        margin: 20px;
    }
    
    .painel {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .painel .image {
        justify-self: center;
    }

    .info .title {
        align-self: center;
    }

    .info {
        justify-self: center;
        margin: 0;
    }

    .info .btn {
        align-self: center;
        padding: 18px 70px;
    }

    .social {
        justify-content: center;
        margin-top: 5px;
        margin-right: 0;
    }
}

@media (max-width: 375px) {
    main {
        background: url(../images/bg-mobile.svg)no-repeat;
    }
    .logo {
        max-width: 150px;
        margin: 30px;
    }

    .painel .image {
        max-width: 300px;
        justify-self: center;
        margin-bottom: 30px;
    }

    .info .title {
        margin-bottom: 15px;
        font-size: 30px;
    }

    .info .description {
        align-self: center;
        max-width: 330px;
        font-size: 16px;
    }

    .info .btn {
        font-size: 16px;
        padding: 12px 75px;
    }
}
